In [1]:
import pandas as pd
from bokeh.plotting import figure, output_file, show

## Create a dataframe that contains the GDP data and display using the method head() and take a screen shot.

In [2]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

In [3]:
df_gdp = pd.read_csv(links["GDP"])

In [4]:
df_gdp.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

## Create a dataframe that contains the unemployment data. Display the first five rows of the dataframe.

In [5]:
df_unemp = pd.read_csv(links["unemployment"])

In [6]:
df_unemp.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

## Display a dataframe where unemployment was greater than 8.5% . Take a screenshot

In [7]:
df1 = df_unemp[df_unemp['unemployment']>8.5]
df1

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

## Use the function make_dashboard to make a dashboard, then take a screen shot.

In [8]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)